/* ==================== Google Fonts ==================== */

@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,600,700|Roboto+Mono:400,500,700');

/*

* ArioX one page portfolio theme;

* version : 1.0;

* © edevsbd;

* ====== table of contents ======
    01.General styles
    02.Preloader 
    03.Shortcodes
    04.Header 
    05.Intro 
    06.Timeline 
    07.Skills 
    08.Portfolio 
    09.Magnifiq Popup
    10.Testimonial 
    11.Blog 
    12.Contact form
    13. Footer 
    14.Blog Single
    15.Responsive 

*/

/* ==================== General styles ==================== */

::-moz-selection {
    color: #00ACC1;
    background-color: transparent;
}

::selection {
    color: #00ACC1;
    background-color: transparent;
}

body {
    font-family: 'Roboto Mono', monospace;
	color: #626262;
	font-weight: 500;
	-webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
	font-size: 16px;
	line-height: 24px;
}

p {
	font-size: 14px;
}

h1 {
	font-size: 36px;
}

h2 {
	font-size: 30px;
}

h3 {
	font-size: 24px;
}

h4 {
	font-size: 18px;
}

h5 {
	font-size: 14px
}

h6 {
	font-size: 13px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #000000;
    font-family: 'Raleway', sans-serif;
	font-weight: 700;
	margin-top: 0;
	margin-bottom: 0;
    letter-spacing: 1.5px;
    line-height: 1.1;
}

a {
    line-height: inherit;
	color: #00ACC1;
	text-decoration: none;
	-webkit-transition: all 0.3s ease-in;
	-moz-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
}

a:hover,
a:focus {
	color: #626262;
	text-decoration: none;
	text-decoration: none;
	outline: 0;
	outline-offset: 0;
}

a.link {
	color: #626262;
}

a.link:hover {
	color: #00ACC1;
}

a.link.animated {
	position: relative;
}

a.link.animated:after {
    color: #00ACC1;
    content: "\f3d4";
    font-family: "Ionicons";
    position: absolute;
    font-size: 34px;
    top: 30px;
    left: 50%;
    transition: all 0.5s;
    margin-left: -5px;
    -webkit-animation: upDown 1s linear infinite both alternate-reverse;
    -moz-animation: upDown 1s linear infinite both alternate-reverse;
    -o-animation: upDown 1s linear infinite both alternate-reverse;
    animation: upDown 1s linear infinite both alternate-reverse;
}

ul,
ol,
li {
	list-style: none;
	padding: 0;
	margin: 0;
}

p {
	font-size: 14px;
}

.lead {
	font-size: 17px;
	line-height: 24px;
	font-weight: 500;
}

.btn {
    display: inline-block;
    font-size: 13px;
    text-align: center;
    white-space: normal;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    vertical-align: middle;
    cursor: pointer;
    font-weight: 600;
    height: 48px;
    padding: 0 22px;
    line-height: 45px;
    text-transform: uppercase;
    border: 2px solid transparent;
    background-color: #ededed;
    color: rgba(0,0,0,0.5);
    -webkit-transition: color .3s ease-out, background-color .3s ease-out;
    -moz-transition: color .3s ease-out, background-color .3s ease-out;
    -o-transition: color .3s ease-out, background-color .3s ease-out;
    transition: color .3s ease-out, background-color .3s ease-out;
    -webkit-tap-highlight-color: transparent;
    tap-highlight-color: transparent;
    border-radius: 2px;
}

.btn-block {
    display: block;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0;
}

.btn:hover {
    color: #fafafe;
    background-color: #00ACC1;
    border-color: transparent;
}

.btn:active,
.btn:focus,
.btn:active:focus {
    color: #fafafe;
    background-color: #00ACC1;
    outline: 0;
    box-shadow: none;
    border-color: transparent;
    outline-offset: 0;
}

.btn-default {
    background-color: #ededed;
    color: #626262;
}

.btn-default:hover,
.btn-default:active,
.btn-default:active:hover {
    color: #fafafe;
    background-color: #00ACC1;
}

.btn-default:active:hover {
    border-color: #00ACC1;
}

.btn-primary {
    color: #fff;
    background-color: #77ede3;
}

.btn-primary:hover {
    color: #fff;
    background-color: #51bfdb;
}

.btn-primary:active,
.btn-primary:focus,
.btn-primary:active:focus {
    background-color: #51bfdb;
    color: #fff;
    outline: 0;
    box-shadow: none;
    border-color: transparent;
    outline-offset: 0;
}

.btn-success {
    color: #fff;
    background-color: #a7c04d;
}

.btn-success:hover {
    color: #fff;
    background-color: #8ea53a;
}

.btn-success:active,
.btn-success:focus,
.btn-success:active:focus {
    background-color: #8ea53a;
    color: #fff;
    outline: 0;
    box-shadow: none;
    border-color: transparent;
    outline-offset: 0;
}

.btn-info {
    color: #fff;
    background-color: #93c4ef;
}

.btn-info:hover {
    color: #fff;
    background-color: #6baee9;
}

.btn-info:active,
.btn-info:focus,
.btn-info:active:focus {
    background-color: #6baee9;
    color: #fff;
    outline: 0;
    box-shadow: none;
    border-color: transparent;
    outline-offset: 0;
}

.btn-warning {
    color: #fff;
    background-color: #ffce2b;
}

.btn-warning:hover {
    color: #fff;
    background-color: #fcc200;
}

.btn-warning:active,
.btn-warning:focus,
.btn-warning:active:focus {
    background-color: #fcc200;
    color: #fff;
    outline: 0;
    box-shadow: none;
    border-color: transparent;
    outline-offset: 0;
}

.btn-danger {
    color: #fff;
    background-color: #ef0568;
}

.btn-danger:hover {
    color: #fff;
    background-color: #c20454;
}

.btn-danger:active,
.btn-danger:focus,
.btn-danger:active:focus {
    background-color: #c20454;
    color: #fff;
    outline: 0;
    box-shadow: none;
    border-color: transparent;
    outline-offset: 0;
}

/* ==================== Preloader ==================== */

.page-loader {
    background: #fff;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

.page-loader .preloader {
    position: absolute;
    margin-left: -55px;
    top: 50%;
    left: 50%;
    margin-top: -55px;
    display: inline-block;
    width: 60px
 }


.preloader:before {
    content: '';
    display: block;
    padding-top: 100%
}

.preloader:not([class*=pls-]) .plc-path {
    -webkit-animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
    -moz-animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
    -o-animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
    animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
}

.preloader[class*="pls-"] .plc-path {
    -webkit-animation: dash 1.5s ease-in-out infinite;
    -moz-animation: dash 1.5s ease-in-out infinite;
    -o-animation: dash 1.5s ease-in-out infinite;
    animation: dash 1.5s ease-in-out infinite;
}



.pl-circular {
    height: 100%;
    transform-origin: center center;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    -webkit-animation: rotate 2s linear infinite;
    -moz-animation: rotate 2s linear infinite;
    -o-animation: rotate 2s linear infinite;
    animation: rotate 2s linear infinite;
}

.plc-path {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    stroke-linecap: round;
    stroke-width: 2;
    stroke-miterlimit: 10;
    fill: none
}

/* ==================== Shortcodes ==================== */

.mtb-0 {
    margin-top: 0;
    margin-bottom: 0;
}

.mtb-15 {
	margin-top: 15px;
	margin-bottom: 15px;
}

.mtb-20 {
	margin-top: 20px;
	margin-bottom: 20px;
}

.mtb-30 {
	margin-top: 30px;
	margin-bottom: 30px;
}

.mtb-35 {
	margin-top: 35px;
	margin-bottom: 35px;
}

.mt-15 {
	margin-top: 15px;
	margin-bottom: 0;
}

.mt-20 {
	margin-top: 20px;
	margin-bottom: 0;
}

.mt-30 {
	margin-top: 30px;
	margin-bottom: 0;
}

.mt-35 {
	margin-top: 35px;
	margin-bottom: 0;
}

.mb-15 {
	margin-top: 0;
	margin-bottom: 15px;
}

.mb-20 {
	margin-top: 0;
	margin-bottom: 20px;
}

.mb-30 {
	margin-top: 0;
	margin-bottom: 30px;
}

.mb-35 {
	margin-top: 0;
	margin-bottom: 35px;
}

.title {
	position: relative;
	text-align: center;
	margin-bottom: 60px;
	text-transform: uppercase;
}

.section-padding {
	padding-top: 100px;
	padding-bottom: 100px;
}

.border {
	border-top: 1px solid #ECEFF1;
	border-bottom: 1px solid #ECEFF1;
}

.border-top {
		border-top: 1px solid #ECEFF1;
}

.border-bottom {
		border-bottom: 1px solid #ECEFF1;
}

.bg-paper {
	background-color: #fafafe;
}

.img-wrapper {
	display: block;
	position: relative;
}

.img-wrapper img {
	display: block;
	width: 100%;
	height: auto;
}

.text-md {
	font-size: 14px;
	line-height: 24px;
}

.text-lg {
	font-size: 20px;
}

.text-sm {
	font-size: 14px;
    font-weight: 600;
}

.text-light {
	color: #ababab
}

.text-xs {
    text-transform: uppercase;
    font-size: 10px;
    line-height: 20px;
    letter-spacing: 1px;
    font-weight: 500;
}

.inline {
	display: inline-block;
}

.center-col {
	float: none;
	margin-left: auto;
	margin-right: auto;
}

/* ==================== Header ==================== */

.header {
    margin: 0 auto;
    height: 60px;
    background: #fafafe;
    position: fixed;
    width: 100%;
    z-index: 999;
    left: 0;
    top: 0;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
    -webkit-transition: all .5s linear;
    -moz-transition: all .5s linear;
    -o-transition: all .5s linear;
    transition: all .5s linear;
}

.header.sticky .navbar {
    background-color: #fafafe;
}

.header .navbar {
    transition: background-color 0.5s linear;
    padding: 0;
    background: #fff;
    border: none;
}

header .navbar .navbar-header {
    height: 60px;
    margin-left: 15px;
    transition: all .5s linear;
}

.header .navbar .navbar-header .navbar-brand {
    height: 100%;
    padding: 0
}

.header .navbar .navbar-header .navbar-brand .brand {
    margin: 0;
    line-height: 60px;
    color: #000;
    transition: all .5s linear;;
    font-size: 30px;
    text-transform: capitalize;
}

.header .navbar .navbar-header .navbar-brand .brand span {
    color: #00ACC1;
    text-transform: uppercase;
}

.header .navbar .navbar-collapse .nav .page-scroll {
	color: #626262;
    line-height: 60px;
    margin: 0 10px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
    -webkit-transition: all .5s linear;
    -moz-transition: all .5s linear;
    -o-transition: all .5s linear;
    transition: all .5s linear;
}

.header .navbar .navbar-collapse .nav .page-scroll:hover {
    color: #00ACC1;
}

.header .navbar .navbar-collapse .nav .page-scroll:last-child {
    margin-right: 0
}
.navbar-toggle {
    border-radius: 0;
    margin-top: 13px;
}

/* ==================== Intro ==================== */

.intro {
	height: 85vh;
	background-image: url(../img/primary.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.intro-content {
    position: relative;
}

.intro-title {
	text-transform: capitalize;
	font-size: 40px;
	letter-spacing: 1px;
	margin-bottom: 10px;
    color:#dddddd;
    text-shadow: 2px 2px #000000;
}

.intro-subtitle {
	font-size: 21px;
	margin-bottom: 10px;
    text-shadow: 2px 2px #000000;
    text-transform: capitalize;
    color:#cccccc;
}

.about-list {
	display: block;
	margin-bottom: 20px;
}

.about-list li {
	position: relative;
	padding: 10px 0;
	border-bottom: 1px solid #ededed;
	overflow: hidden;
}

.about-list li:first-child {
	padding-top: 0;
}

.about-list li:last-child {
    border-bottom: none;
}

.about-list li .left {
	float: left;
	font-weight: 700;
	max-width: 30%;
}

.about-list li .right {
	text-align: right;
}

.follow-me {
    text-align: center;
    margin-top: 35px;
}

.follow-me li {
	display: inline-block;
}

.follow-me li a {
    color: #626262;
	padding: 5px;
	font-size: 20px;
	display: inline-block;
}

.follow-me li a:hover {
    color: #00ACC1;
}

/* ==================== Timeline ==================== */

.timeline {
    position: relative;
	overflow: hidden;
}

.timeline:before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -1px;
    width: 2px;
    height: 100%;
    background: #ECEFF1;
    z-index: 1;
    display: block;
}

.timeline-wrapper {
    width: 50%;
  	clear: both;
 	margin: 10px 0;
}

.timeline-wrapper.left {
    float: left;
    direction: rtl;
    position: relative;
    right: 8px;
}

.timeline-wrapper.left:before {
 	content: "";
 	position: absolute;
 	top: 5px;
 	right: -16px;
 	width: 16px;
 	height: 16px;
 	border-radius: 16px;
 	background-color: #00ACC1;
 	border: 2px solid #fff;
 	z-index: 1;
}

.timeline-wrapper.right {
	float: right;
	position: relative;
	left: 8px;
}

.timeline-wrapper.right:before {
 	content: "";
 	position: absolute;
 	top: 5px;
 	left: -16px;
 	width: 16px;
 	height: 16px;
 	border-radius: 16px;
 	background-color: #00ACC1;
 	border: 2px solid #fff;
 	z-index: 1;
}

.timeline-content {
    width: 95%;
    padding: 0 15px;
    color: #000;
}

.timeline-content h3 {
	font-size: 22px;
	font-weight: 600;
	margin-bottom: 15px;
	color: #00ACC1;
}

.timeline-content h5 {
	margin-bottom: 10px;
	text-transform: capitalize;
}

/* ==================== Skills ==================== */

.skills {
	margin-bottom: 50px;
}

.skill-title-wrapper {
	display: block;
	width: 100%;
    margin-bottom: 12px;
	overflow: hidden;
}

.skill-icon {
	float: left;
}

.skill-title {
	margin-left: 33px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.skillbar {
    margin-bottom: 10px;
    position: relative;
    width: 80%;
    display: block;
}

.skillbar .skillbar-percent {
    color: #616161;
    float: right;
    position: relative;
    bottom: 20px;
    font-family: 'Roboto Mono', monospace;
}

.skillbar-bar {
    background-color: #ECEFF1;
    width: 100%;
    height: 3px;
    box-shadow: inset 0 0 4px rgba(0,0,0,.3);
}

.skillbar-bar .skillbar-child {
    width: 0;
    height: 100%;
    background-color: #00ACC1;
    -webkit-transition-property: width, background-color;
    -moz-transition-property: width, background-color;
    -o-transition-property: width, background-color;
    transition-property: width, background-color;
}

/* ==================== Portfolio ==================== */

.portfolio-filter {
	text-align: center;
	margin-bottom: 50px;
}

.portfolio-filter li {
	display: inline-block;
	padding: 0 8px;

}

.portfolio-filter li a {
	padding-bottom: 7px;
	color: #263238;
	border-bottom: 1px solid #263238;
}

.portfolio-filter li a:hover {
	color: #00ACC1;
	border-bottom-color: #00ACC1;
}

.portfolio-filter li a.active {
	color: #00ACC1;	
	border-bottom-color: #00ACC1;
}

.masonry-item {
  margin-top: 6px; 
  width: 33%;
  height: auto;
  float: left;
  overflow: hidden;
}

.thumb {
	position: relative;
	overflow: hidden;
}

.masonry-item .thumb img {
    display: block;
	width: 100%;
	height: auto;
}

.overlay {
    position: absolute;
	bottom: 0;
	left: 0;
	border-radius: 100%;
	background-color: #00ACC1;
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-o-transform: scale(0);
	transform: scale(0);
	-webkit-transition: all 0.6s linear;
	-moz-transition: all 0.6s linear;
	-o-transition: all 0.6s linear;
	transition: all 0.6s linear;
}

.thumb:hover .overlay {
    opacity: 0.9;
	width: 100px;
	height: 100px;
	-webkit-transform: scale(12);
	-moz-transform: scale(12);
	-o-transform: scale(12);
	transform: scale(12);
}

.meta {
    display: block;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: opacity .3s 0.2s;
    -moz-transition: opacity .3s 0.2s;
    -o-transition: opacity .3s 0.2s;
    transition: opacity .3s 0.2s;
}

.meta .inner {
    position: absolute;
    width: 100%;
    height: 120px;
    color: #fff;
    text-align: center;
    left: 0;
    top: 50%;
    margin-top: -35px;
    padding: 0 15px;
}

.meta .inner .btns {
    position: relative;
    top: 0;
    margin: 0 0 20px 0;
    width: 100%;
    text-align: center;
    left: 0;
}

.meta .inner .btns a {
    display: inline-block;
    width: 41px;
    height: 41px;
    line-height: 41px;
    font-size: 24px;
    color: #fafafe;
    background-color: transparent;
    border: 2px solid #fafafe;
    margin: 0 -2px;
    -webkit-transform: translate(-20px,0);
    -moz-transform: translate(-20px,0);
    -o-transform: translate(-20px,0);
    transform: translate(-20px,0);
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s 0.2s;
}

.meta .inner .btns a:last-child {
    -webkit-transform: translate(20px,0);
    -moz-transform: translate(20px,0);
    -o-transform: translate(20px,0);
    transform: translate(20px,0);
}

.thumb:hover .meta {
    opacity: 1;
} 

.thumb:hover .inner .btns a {
    -webkit-transform: translate(0,0);
    -moz-transform: translate(0,0);
    -o-transform: translate(0,0);
    transform: translate(0,0);
}

.thumb:hover .inner h4 {
	color: #fafafe;
	font-weight: 600;
	text-transform: uppercase;
	font-size: 16px;

}

/* ==================== Magnifiq Popup ==================== */

.mfp-bg {
    background-color: #00ACC1;
}

.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close {
    opacity: 1;
    cursor: pointer;
}

.mfp-figure:after{
    box-shadow: none;
}

.mfp-zoom-in {

}

.mfp-zoom-in .mfp-with-anim {
    opacity: 0;
    -webkit-animation: fadeInUp 1s;
    -moz-animation: fadeInUp 1s;
    -o-animation: fadeInUp 1s;
    animation: fadeInUp 1s;
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    transition: all 0.4s linear;
}

.mfp-zoom-in.mfp-bg {
    opacity: 0;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
}

.mfp-zoom-in.mfp-ready .mfp-with-anim {
    opacity: 1;
}

.mfp-zoom-in.mfp-ready.mfp-bg {
    opacity: 0.8;
}

.mfp-zoom-in.mfp-removing .mfp-with-anim {
     -webkit-animation: fadeInDown 1s;
     -moz-animation: fadeInDown 1s;
     -o-animation: fadeInDown 1s;
     animation: fadeInDown 1s;
     opacity: 0;
}

.mfp-zoom-in.mfp-removing.mfp-bg {
    opacity: 0.8;
}


/* ==================== Testimonial ==================== */

.testimonial {
	display: block;
	width: 100%;
	overflow: hidden;
}

.testimonial:hover {
    cursor: e-resize;
}

.testimonial-img {
	position: relative;
	float: left;
}

.testimonial-img img {
	display: block;
	width: 100%;
	max-width: 158px;
	border-radius: 100px;
	border: 8px solid #fafafe;
}

.testimonial-img:before {
	content: "\f347";
	font-family: "Ionicons";
	position: absolute;
	top: 20px;
	left: 90%;
	font-size: 55px;
	color: #9E9E9E;
	z-index: 1
}

.ratings {
	color: #FFD600;
}

.testimonial-content {
	margin-left: 200px;
}

.testimonial-author {
	color: #9E9E9E;
	margin-top: 11px;
	margin-bottom: 12px;
}

.testimonial-carousel .owl-controls .owl-nav .owl-prev {
    position: absolute;
    right: 50px;
    top: 1px;
    font-size: 17px;
    -webkit-transition: all 0.5s linear
    -moz-transition: all 0.5s linear
    -o-transition: all 0.5s linear
    transition: all 0.5s linear
}

.testimonial-carousel .owl-controls .owl-nav .owl-next {
    position: absolute;	
    right: 17px;
    top: 1px;
    font-size: 17px;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
}

.testimonial-carousel .owl-controls .owl-nav .owl-prev i,
.testimonial-carousel .owl-controls .owl-nav .owl-next i {
	color: #00ACC1;
}

/* ==================== Blog ==================== */

.post-thumb {
	display: block;
	width: 100%;
	height: auto;
}

.post-details {
	margin-top: 25px;
}

.meta-cat {
	font-weight: 400;
    letter-spacing: 1px;
	padding: 4px 9px;
	font-size: 10px;
	line-height: 15px;
    font-weight: 700;
    background-color: #ECEFF1;
	color: #263238;
    cursor: pointer;
}

.post-title {
	display: block;
	margin-top: 20px;
	margin-bottom: 15px;
	font-weight: 600;
	font-size: 16px;
    letter-spacing: 1px;
	line-height: inherit;
}

.post-title a {
	color: #000000;
}

/* ==================== Contact form ==================== */

.form-control {
    margin-bottom: 15px;
    border-radius: 0;
    display: block;
    width: 100%;
    height: 35px;
    padding: 8px 16px;
    text-transform: none;
    box-shadow: none;
    font-size: 13px;
    line-height: 1.5;
    color: #999;
    border-width: 1px;
    border-style: solid;
    border-color: #ededed;
    background-color: #fff;
    background-image: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;tion: all .2s linear;		    
}

.form-control:focus {
    border-color: #ededed;
    color: #00ACC1;
    outline: 0;
    box-shadow: none;
}

textarea.form-control {
    margin-bottom: 20px;
    height: auto;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

label#email-error {
    position: relative;
    top: -9px;
    left: 15px;
}

label#email-error:before {
    content: "\f100";
    font-family: "Ionicons";
    margin-right: 5px;
}

.success-content,
.error-content {
    margin-bottom: 15px;
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    display: none;
}

.success-content i,
.error-content i {
    margin-right: 10px;
}

.success-content {
	color: #33691E;
}

.error-content {
	color: #BF360C;
}

#email-error {
    font-size: 13px;
    font-weight: normal;
}

/* ==================== Footer ==================== */

.page-footer {
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #f9f9f9;
}

.footer-social {
	text-align: right;
}

.footer-social li {
	display: inline-block;
	padding: 0 8px;
}

.footer-social li:first-child {
	padding-left: 0;
}

.footer-social li a {
    color: #626262;
	font-size: 22px;
}

.footer-social li a:hover {
    color: #00ACC1;
}

.footer-brand {
	padding-top: 4px;
}

.footer-brand span {
    position: relative;
    left: -1px;
    color: #00ACC1;
    text-transform: uppercase;   
}

/* ==================== Blog Single ==================== */

.blog-thumb {
	position: relative;
    background-image: url(../img/blog/data.jpeg); 
	height: 65vh;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	z-index: -1;
}

.blog-thumb:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
    z-index: -1;
    background-color: #fafafe;
    opacity: 0.5;
	background-image: url(../img/assets/overlay.png);
}

#blog-single {
	margin-bottom: 65px;
}

.blog-title-wrapper {
    text-align: center;
    display: table;
    table-layout: auto;
    width: 100%;
    height: 100%
}

.blog-title-wrapper .title {
    display: table-cell;
  vertical-align: middle;
        
}

.blog-meta {
	padding: 13px 0;
	background-color: #fafafe;
	border-bottom: #d0d0d0;
}

.meta-info,
.share {
	display: inline-block;
}

.meta-info li {
    display: inherit;
	font-size: 13px;
	position: relative;
}

.meta-info li:after {
    content: "/";
    opacity: 0.5;
    margin: 0 7px 0 7px;
}

.meta-info li:last-child:after {
	display: none;
}

.meta-info li a {
    color: #626262;
}

.meta-info li a:hover {
    color: #00ACC1;
}

.post-share {
	text-align: right;
}

.blog-share .post-share {
	text-align: center;
	margin-top: 30px;
	margin-bottom: 30px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.post-share h5 {
	text-transform: uppercase;
	position: relative;
	top: -1px;
	left: -5px;
}

.share li {
	display: inherit;
}

.share li a {
    color: #626262;
	padding: 0 5px;
}

.share li a:hover {
    color: #00ACC1;
}

.blog-content {
	padding-top: 50px;
}

.comment-body {
	padding: 15px 0;
	position: relative;
}

.comment-avatar {
	position: absolute;
	top: 24px;
}

.comment-content {
	padding-left: 100px;

}

.comment-author {
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 10px;
    font-family: 'Roboto Mono', monospace;
    letter-spacing: 1px;
}

.comment-body span a {
	position: relative;
	color: #626262;
	font-size: 13px;
    letter-spacing: 0;
    margin-left: -3px;
}

.comment-body span a:before {
    content: "/";
    opacity: 0.5;
    margin: 0 4px 0 -4px;
}

.comment-body .reply {
	text-transform: uppercase;
    letter-spacing: 0;
    font-size: 12px;
}


/* ==================== Responsive ==================== */

/* ==================== 1200px ==================== */

@media (max-width: 1200px) {
    
	.masonry-item {
	   width: 32.777777%;
	}
    
}

/* ==================== 992px ==================== */

@media (max-width: 992px) {
    
	.mb-sm-12 {
		margin-bottom: 12px;
	}
    
	.mb-sm-20 {
		margin-bottom: 20px;
	}
    
	.mb-sm-30 {
		margin-bottom: 30px;
	}

	.mb-sm-35 {
		margin-bottom: 35px;
	}

	.masonry-item {
	  width: 32.777777%;
	}

	.footer-social {
		text-align: center;
	}
    
	.footer-brand {
		text-align: center;
		
	}
    
    .meta-info {
        text-align: center;
        width: 100%;
        margin-bottom: 8px;
    }
    
    .post-share {
        text-align: center;
    }
    
}

/* ==================== 768px and 991px ==================== */

@media all and (min-width:768px) and (max-width:991px) {
    
    .header .navbar .navbar-collapse .nav .page-scroll {
        margin: 0 5px
    }
    
    .center-sm {
        text-align: center;
     }  

    .mt-sm-12 {
        margin-top: 12px;
        margin-bottom: 0;
    }
    .mt-sm-20 {
        margin-top: 20px;
        margin-bottom: 0;
    }
    .mt-sm-30 {
        margin-top: 30px;
        margin-bottom: 0;
    }

    .mt-sm-35 {
        margin-top: 35px;
        margin-bottom: 0;
    }
    
    .mb-sm-12 {
        margin-top: 0;
        margin-bottom: 12px;
    }
    .mb-sm-20 {
        margin-top: 0;
        margin-bottom: 20px;
    }
    .mb-sm-30 {
        margin-top: 0;
        margin-bottom: 30px;
    }

    .mb-sm-35 {
        margin-top: 0;
        margin-bottom: 35px;
    }
    
    .intro-content {
        text-align: left;
    }
    
    .about-list {
        margin-bottom: 50px
    }
    

    
 
}

/* ==================== 768px ==================== */

@media (max-width: 768px) {
    
    .center-xs {
 	    text-align: center;
     }      
    
	.intro-content {
		text-align: left;
	}
    
    
    .masonry-item {
	  width: 49.555555%;
	}

 	.timeline {
		overflow: inherit;
	}
    
	.timeline:before {
		left: 0;
	}
    
	.timeline-wrapper {
		width: 100%;
		margin-bottom: 30px;
	}
    
	.timeline-wrapper.left {
		float: none;
		direction: ltr;
		right: -8px;
	}
    
	.timeline-wrapper.left:before {
		left: -16px
	}
    
	.timeline-wrapper.right {
		float: none;
		left: 0;
	}
    
	.timeline-wrapper.right:before {
		left: -8px
	}
    
	.timeline-content {
		width: 100%
	}
    
 
}

/* ==================== 767px ==================== */

@media (max-width: 767px) {
    
	h1 {
		font-size: 24px
	}

	h2 {
		font-size: 22px
	}
    
	h3 {
		font-size: 20px;
	}

	h4 {
		font-size: 18px
	}

	h5 {
		font-size: 16px
	}
    
	h6 {
		font-size: 14px
	}
    
    .navbar-fixed-top .navbar-collapse {
        max-height: 100vh;
    }
    
    .nav {
        width: 100%
    }
    
    .header .navbar .navbar-collapse .nav .page-scroll {
        line-height: 35px;
        width: 100%;
        display: block;
        text-align: center
    }	
    
    .intro {
        height: 65vh;
    }
    
    .about-list {
    	margin-bottom: 25px;
    }
    

    .skillbar {
		width: 100%;
	}
    
	.masonry-item {
	  width: 49.555555%;
	}

	.thumb:hover .overlay {
		transform: scale(20);
	}
    
}

/* ==================== 678px ==================== */

@media (max-width: 678px) {
    
	.portfolio-filter li {
		padding: 0;
	}
    
	.portfolio-filter li a {
		font-size: 12px;
	}
    
	.masonry-item {
	  width: 100%;
	}
    
    .testimonial-img {
        float: none;
        margin-bottom: 15px;
    }
    
    .testimonial-img img {
        margin: 0 auto;
    }
    
    .testimonial-content {
        margin-left: 0;
        text-align: center
    }
    
    .testimonial-img:before {
        display: none
    }
    
    .testimonial-carousel .owl-controls .owl-nav {
        position: absolute;
        bottom: 0;
        width: 100%;
    }
    
    .testimonial-carousel .owl-controls .owl-nav .owl-prev {
        left: 45%;
    }
    
    .testimonial-carousel .owl-controls .owl-nav .owl-next {
        right: 45%;
    }
}